@import '_variables_colores';

.contenido{
    background-color: $color_fondo_contenido;
    height: 80%;
    width: 80%;
    .cabecera{
        border-radius: 20px;
        display: flex;
        height: 40%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: $color_fondo_header;
        padding: 2%;
        .imagencabecera_tema{
            border-radius: 20px;
            background-image: url("../Imagenes/Java_condiciones.png");
            width: 30%;
            height: 300px;
            padding: 2%;
            background-size: cover; /* Para que la imagen cubra todo el fondo */
            background-repeat: no-repeat;
        }
    }
    /*frame{
        display: flex;
    }*/
    .barraSuperiorContenido{
        display: flex;
        flex-direction: row;
        height: 56px;
        a{ 
            display: flex;
            flex-direction: row;
            height: 56px;
            text-decoration: none;
            color: black;
            #flecha{
                display: flex;
                align-items: center;
                height: 32px;
            }
            h2{
                font-size: 32px;
                max-height: 32px;
            }
        }
    }
    .contenidoTema{
        .seccion {
            ul{
                li{
                    list-style: none;
                    display: flex;
                    width: 80%;
                    align-items: center;
                    flex-direction: column;
                    .elemento{
                        width: 80%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}