@import '_variables_colores';
.contenido{
    background-color: $color_fondo_contenido;
    height: 700px;
    width: 80%;
    .cabecera{
        display: flex;
        flex-direction: row;
        background-color: $color_fondo_header;
        .imagencabecera_asignatura{
            background-image: url("../Imagenes/Java.jpg");
            width: 200px;
            height: 200px;
            background-size: cover; /* Para que la imagen cubra todo el fondo */
            background-repeat: no-repeat;
        }
    }
    
}