@import '_variables_colores';
@import '../node_modules/foundation-sites/scss/foundation.scss';
@import '../node_modules/foundation-icons/foundation-icons.css';
@include foundation-everything;
@include foundation-dropdown-menu;
.contenido{
    background-color: $color_fondo_contenido;
    height: 80%;
    width: 80%;
    padding: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 20px;
    .cabecera{
        border-radius: 20px;
        display: flex;
        height: 40%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: $color_fondo_header;
        padding: 2%;
        .imagencabecera_tema{
            border-radius: 20px;
            background-image: url("../Imagenes/Java_condiciones.png");
            width: 30%;
            height: 300px;
            padding: 2%;
            background-size: cover; /* Para que la imagen cubra todo el fondo */
            background-repeat: no-repeat;
        }
    }
    /*frame{
        display: flex;
    }*/
    .barraSuperiorContenido{
        display: flex;
        flex-direction: row;
        height: 56px;
        a{ 
            display: flex;
            flex-direction: row;
            height: 56px;
            text-decoration: none;
            color: black;
            #flecha{
                display: flex;
                align-items: center;
                height: 32px;
                margin:1%;
                padding: 1%;
                img{
                    margin:1%;
                }
                
            }
            h2{
                margin:1%;
                font-size: 32px;
                max-height: 32px;
            }
        }
    }
    .contenidoTema{
        hr{
            color: #000;
            background: #000;
            height: 4px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 100%;
        }
        .seccion {
            h3{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 1%;
                img{
                    margin: 1%;
                    width:16px;
                    height:16px;
                }
            }
            ul{
                li{
                    list-style: none;
                    display: flex;
                    width: 80%;
                    align-items: center;
                    flex-direction: column;
                    .elemento{
                        width: 80%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        
                    }
                }
            }
        }
    }
}