footer{
    background-color: #021551;
    height: 90px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 10px;
    bottom: 0;
    position: absolute;
    bottom: 0;
    width: 98%;
    right: 0;
    #texto{
        color: white;
        font-size: 20px;
    }
    
    #redesSociales{
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding-right: 80px;
        
    }

}