footer{
    background-color: #021551;
    color: white;
    height: 90px;
    padding-top:40px;
    padding-left: 10px;
    #redesSociales{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        color: white;
        
    }

}