
footer{
    background-color: #021551;
    height: 90px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 10px;
    bottom: 0;
    bottom: 0;
    width: 99%;
    right: 0;
    #texto{
        color: white;
        font-size: 20px;
    }
    
    #redesSociales{
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding-right: 80px;
        
    }

}
@media (max-width:500px){
    footer{
        
        #texto{
            font-size: 15px;
        }
        #redesSociales{
            display: flex;
            gap: 10px;
            padding-right: 10px;
            
        }
    }
}
