@import "../node_modules/foundation-sites/scss/util/util"; 
@import "../node_modules/foundation-sites/scss/util/flex";
body {
    @include flex;
    background-color: $color_fondo_body;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Hace que el body ocupe toda la altura de la pantalla */
    margin: 0;
}

#contenedorPrincipalInicio {
    width: 50%; /* Ocupa todo el ancho disponible */
    height: 80%;
    background-color: $color_fondo_contenido;
    @include flex;
    @include flex-direction(column);
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    box-sizing: border-box;
    border-radius: 10px;
    #contenedorInicio{
        color: white;
        @include flex;
        @include flex-direction(column);
        align-items: center;
        gap: 10px;
        
        h2{
            font-size: 35px;
            
        }
        #contenedorLogo {
            width: 250px; /* Ajusta el tamaño del logo */
            height: 250px;
            border-radius: 50%;
            overflow: hidden;
            @include flex;
            justify-content: center;
            align-items: center;
            
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        #introducirDatos{
            @include flex;
            @include flex-direction(column);
            gap:20px;
            div{
                display: flex;
                align-items: center;
                gap: 10px;
            }
            label{
                font-size: 20px;
                width: 120px; // Ancho fijo para todos los labels
                text-align: right;
            }
            input{
                border-radius: 12px;
               width: 400px;
               height: 30px;
               background-color: #91ece6;
               color: #069e94;
               z-index: 1;
               &::placeholder {
                color: #069e94;
                font-size: 15px;
                padding-left: 10px;
              }
                
            }
                img{
                    position: absolute;
                    z-index: 2;
                    right: 32.6%;
                }
            
        }
    }
    a{
        button{
            width: 150px;
            height: 40px;
            background-color: $color_fondo_header;
            border-radius: 10px;
            font-size: 15px;
        }

    }
}
@media (max-width:500px){
    #contenedorPrincipalInicio {
        background-color: $color_fondo_contenido;
        width: 80%;
        height: 100%;
        h2{
            font-size: 29px;
        }
        #contenedorInicio{
            h2{
                font-size: 30px;
                padding-bottom: 10px;
            }
            #contenedorLogo {
                width: 230px;
                height: 230px;
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
        }
        #introducirDatos{
            div {
                @include flex-direction(column);
                align-items: flex-start;
            }
            label{
                text-align: left;
                
            }
            input{
                border-radius: 12px;
               width: 300px;
               height: 30px;
               background-color: #91ece6;
               color: #069e94;
               z-index: 1;
                
            }
            img{
                position: absolute;
                z-index: 2;
                right: 15.5%;
                top:68.8%;
                
            }



            
        }
    }
}
}