@import '_variables_colores';
nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $cabecera_fondo;
    #idlogo{
        background-image: url("../Imagenes/logo.png");
        width: 50px;
        height: 50px;
        background-size: cover; /* Para que la imagen cubra todo el fondo */
        background-repeat: no-repeat;
    }
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        text-align: center;
        justify-content: center;
        li{
            margin: 0;
            a{
                display: block;
                color: $color_texto_principal;
                text-decoration: none;
                padding: 15px 20px;
                transition: background-color 0.3s ease;
            }
            a:hover {
                background-color: $cabecera_fondo_hover;
            }
        }
    }
    /*  ICONO DE LA CAMPANA */
/* From Uiverse.io by catraco */ 
/*------ Settings ------*/
.container {
    --color: #a5a5b0;
    --size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: var(--size);
    user-select: none;
    fill: var(--color);
  }
  
  .container .bell-regular {
    position: absolute;
    animation: keyframes-fill .5s;
  }
  
  .container .bell-solid {
    position: absolute;
    display: none;
    animation: keyframes-fill .5s;
  }
  
  /* ------ On check event ------ */
  .container input:checked ~ .bell-regular {
    display: none;
  }
  
  .container input:checked ~ .bell-solid {
    display: block;
  }
  
  /* ------ Hide the default checkbox ------ */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* ------ Animation ------ */
  @keyframes keyframes-fill {
    0% {
      opacity: 0;
    }
  
    25% {
      transform: rotate(25deg);
    }
  
    50% {
      transform: rotate(-20deg) scale(1.2);
    }
  
    75% {
      transform: rotate(15deg);
    }
  }
/* FIN ICONO CAMPANA */
}






