@import "../node_modules/foundation-sites/scss/util/util"; 
@import "../node_modules/foundation-sites/scss/util/flex";
body {
    @include flex;
    background-color: $color_fondo_body;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#contenedorPrincipalRegistro {
    width: 50%; 
    height: 90%;
    background-color: $color_fondo_contenido;
    @include flex;
    @include flex-direction(column);
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto; 
    box-sizing: border-box;
    border-radius: 10px;
    #contenedorRegistro{
        color: white;
        @include flex;
        @include flex-direction(column);
        align-items: center;
        gap: 10px;
        h2{
            font-size: 35px;
            
        }
        a{
            button{
                width: 150px;
                height: 40px;
                background-color: $color_fondo_header;
                border-radius: 10px;
            }
    
        }
        #contenedorLogo {
            width: 250px; /* Ajusta el tamaño del logo */
            height: 250px;
            border-radius: 50%;
            overflow: hidden;
            @include flex;
            justify-content: center;
            align-items: center;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
        #introducirDatos{
            @include flex;
            @include flex-direction(column);
            gap:10px;
            div{
                @include flex;
                align-items: center;
                gap: 10px;
            }
            label{
                font-size: 20px;
                width: 120px; // Ancho fijo para todos los labels
                text-align: right;
                
            }
            input{
                border-radius: 12px;
               width: 400px;
               height: 30px;
               background-color: #91ece6;
               color: black;
               z-index: 1;
               &::placeholder {
                color: #069e94;
                font-size: 15px;
                padding-left: 10px;
              }
                
            }
            img{
                position: absolute;
                z-index: 2;
                right: 32.6%;
            }
        }
        
    }
    a{
        button{
            width: 190px;
            height: 40px;
            background-color: #E1FFBB;
            border-radius: 10px;
            font-size: 15px;
        }

    }
}
@media (max-width:500px){
    #contenedorPrincipalRegistro {
        background-color: $color_fondo_contenido;
        width: 80%; /* Ocupa todo el ancho disponible */
        height: 100%;
        #contenedorRegistro{
            h2{
                font-size: 29px;
                
            }
            #contenedorLogo {
                width: 230px; /* Ajusta el tamaño del logo */
                height: 230px;
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
        }
        #introducirDatos{
            div {
                @include flex-direction(column);
                align-items: flex-start;
            }
            label{
                text-align: left;
                font-size: 15px;
                
            }
            input{
                border-radius: 12px;
               width: 300px;
               height: 30px;
               background-color: #91ece6;
               color: #069e94;
               z-index: 1;
                
            }
            img{
                position: absolute;
                z-index: 2;
                right: 15.5%;
                top:66.8%;
            }
        }
    }
}
}


