$cabecera_fondo:#07D6C9;
$color_texto_principal:black;
$cabecera_fondo_hover:#27928b;
$color_fondo_contenido:#6296D9;
$color_fondo_header:#E1FFBB;
$color_fondo_body:#001A6E;/* 83% */
$color_barra_progreso:#35c1b7;