@import '_menu_superior';
@import '_footer';

body{
    background-color: #001A6E;
    display: flex;
    width: 100%;
    height: 100%;
    
    flex-direction: column;
    align-items: center;
}
#contenedorContenido{
    background-color: #6296D9;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 80%;
    padding: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
    h1{
        color: white;
        padding-top: 30px;
        padding-left: 50px ;
    }
    #coontenedorCursos{
        display: grid;
        width: 100%;
        height: 5000px;
        grid-template-columns: 26% 26% 26%;
        grid-template-rows:50% 50% ;
    }
}