@import '_menu_superior';
@import '_footer';
@import '../node_modules/foundation-sites/scss/foundation.scss';
@import '../node_modules/foundation-sites/scss/util/util';
@import '../node_modules/foundation-sites/scss/components/card';


body{
    background-color: #001A6E;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}
#contenedorContenido{
    background-color: #6296D9;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 80%;
    padding: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
    h1{
        color: white;
        padding-left: 50px ;
        font-size: 40px;
    }
    hr {
        border: 0;
        height: 2px;
        background-color: #000;
    }
    #contenedorCursos{
        padding-left:50px ;
        display:grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows:50% 50% ;
        width: 100%;
        
            .card {
                width: 250px;   // Ajusta el ancho de la tarjeta
                height: 250px;  // Ajusta la altura de la tarjeta
              }
              .card img {
                width: 70%;  // La imagen ocupará todo el ancho de la tarjeta
                height: auto; // Mantener la proporción
                border-radius: 8px 8px 0 0; // Bordes redondeados arriba
              }
        



    }
}