@import '_variables_colores';
@import '_menu_superior';

@import '_footer';
@import '../node_modules/foundation-sites/scss/foundation.scss';
@import '../node_modules/foundation-icons/foundation-icons.css';
@include foundation-everything;
@import '_contenido_tema';
@import '_contenido_asignatura';
body{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: $color_fondo_body;
    flex-direction: column;
    align-items: center;
}
footer{ 
    position: relative;
    width: 100%;
}
#barraProgreso{
    display: flex;
    gap: 10px;
    align-items: center;
    .progress{
        width: 80%;
        border-radius: 10px;
    }
    .progress-meter {
        background-color: #35c1b7; /* Color de la barra de progreso */
        border-radius: 10px; /* Bordes redondeados para la barra */
    }
    .progress-text {
        text-align: center; 
        color:#3faea7;
    }
}