@import '_variables_colores';
body{
    display: flex;
    width: 100%;
    background-color: $color_fondo_body;
    flex-direction: column;
    align-items: center;
}

//@import '../node_modules/foundation-sites/scss/foundation.scss';
//@include foundation-everything;
@import '_menu_superior';
@import '_contenido_tema';
@import '_contenido_asignatura';
